<h1>New User</h1>
<form action="/user" method="post">
	<input type="text" name="first" value="" />
	<input type="text" name="last" value="" />
	<input type="text" name="age" value="" />
	<input type="submit" value="Create" />
</form>